<!DOCTYPE html>
<html lang="en">
<head>
  <title>Panel Studenta</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
</head>
<body>

<div class="container">
  <h2>{{student.user.first_name}} {{student.user.last_name}}</h2>  
  <table class="table table-hover">
    <thead>
      <tr>
        <th>Nazwa przedmiotu</th>
        <th>Operacje</th>
      </tr>
    </thead>
    <tbody>
    {% for subject in subjects %}
        <tr><td>{{subject.name}}</td><td> <a href="{% url 'studentsubject' subject.pk %}" class="btn btn-info" role="button">ZOBACZ OCENY</td></tr>
    {% endfor %}
    </tbody>
  </table>
</div>

</body>
</html>

