<!DOCTYPE html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Wirtualny Dziekanat</title>
<link href="/static/database/style.css" rel="stylesheet" type="text/css" />
</head>

<body>
    <p class="title">{{teacher.user.username}}</p>
    <ul>
        <li><span>Imię:</span> {{teacher.user.first_name}} </li>
        <li><span>Nazwisko:</span> {{teacher.user.last_name}} </li>
        <li><span>Email:</span> {{teacher.user.email }} </li>
    </ul>
<p class="subjects">Prowadzone przedmioty:</p>
<ul>
{% for subject in subjects %}
	<li>{{subject.name}} <a href="{% url 'teachersubject' subject.pk %}">SZCZEGÓŁY</a></li>
{% endfor %}

</ul>
</body>